@* @model FileChecks.Models.VersionManager *@
@* @model IReadOnlyList<FileChecks.Models.VersionManager.Directories> *@
@model FileChecks.Models.VersionManager

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

	<h4>VersionManager</h4>
	<hr />
	<h3>Current folders:</h3>
	@if (Model.Content?.Directories?.Any() == true)
	{
		<div>
			<ul>
				@foreach (var item in Model.Content.Directories)
				{
					<li>@item</li>
				}
			</ul>
		</div>
	}
	<h3>Current files:</h3>
	@if (Model.Content?.Files?.Any() == true)
	{
		<div>
			<ul>
				@foreach (var item in Model.Content.Files)
				{
					<li>@item.FullName</li>
				}
			</ul>
		</div>
	}

	<h3>Hash Stored List:</h3>
	@if (Model.StoredVersions?.Any() == true)
	{
		<div>
			<ul>
				@foreach (var item in Model.StoredVersions)
				{
					<li>@item.FullName</li>
				}
			</ul>
		</div>
	}

	<h3>Hash Stored List:</h3>
	@if (Model.StoredVersions?.Any() == true)
	{
@* 		<div class="list-group">
			@foreach (var file in Model.StoredVersions)
			{
				<div class="list-group-item">
					<strong>@file.Name</strong> <br />
					Last Modified: @file.LastModified <br />
					Size: @file.Size KB <br />
					Version @file.Version
				</div>
			}
		</div> *@

		<table class="table table-striped">
			<thead>
				<tr>
					<th>File Name</th>
					<th>Last Modified</th>
					<th>Size</th>
					<th>Version</th>
					<th>Deleted</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var file in Model.StoredVersions)
				{
					<tr class="@(file.IsPresent ? "" : "deleted-row")">
						<td>
							@file.Name
							@if (file.IsNewEntry == true)
							{
								<span class="badge bg-success ms-2">New!</span>
							}
						</td>
						
						<td>@file.LastModified.ToString("yyyy-MM-dd HH:mm")</td>
						<td>@((file.Size / 1024m).ToString("0.##")) KB</td>
						<td>@file.Version</td>
						<td>
							@if (@file.IsPresent == false)
							{
								<span class="badge bg-danger ms-2">Deleted</span>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}




	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</body>
</html>
