@* @model FileChecks.Models.VersionManager *@
@* @model IReadOnlyList<FileChecks.Models.VersionManager.Directories> *@
@model FileChecks.Models.VersionManager

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

	<div class="form-group mt-3">
		<form asp-action="Index" method="post">
			<div class="mb-3">
				<label asp-for="SubFolderPath" class="form-label"></label>
				<div class="input-group">
					<span class="input-group-text">@VersionManager.RootPath\</span>
					<input asp-for="SubFolderPath" class="form-control border-secondary" />
				</div>
				<span asp-validation-for="SubFolderPath" class="text-danger"></span>
			</div>
			<input type="submit" value="Scan folder" class="btn btn-primary" />
		</form>
	</div>

	<hr />
	@* <hr />
	<h3>Current folders:</h3>
	@if (Model.Content?.Directories?.Any() == true)
	{
		<div>
			<ul>
				@foreach (var item in Model.Content.Directories)
				{
					<li>@item</li>
				}
			</ul>
		</div>
	}
	<h3>Current files:</h3>
	@if (Model.Content?.Files?.Any() == true)
	{
		<div>
			<ul>
				@foreach (var item in Model.Content.Files)
				{
					<li>@item.FullName</li>
				}
			</ul>
		</div>
	} 

	<h3>Hash Stored List:</h3>
	@if (Model.StoredVersions?.Any() == true)
	{
		<div>
			<ul>
				@foreach (var item in Model.StoredVersions)
				{
					<li>@item.FullName</li>
				}
			</ul>
		</div>
	}*@

	
	@if (Model.StoredVersions?.Any() == true)
	{
@* 		<div class="list-group">
			@foreach (var file in Model.StoredVersions)
			{
				<div class="list-group-item">
					<strong>@file.Name</strong> <br />
					Last Modified: @file.LastModified <br />
					Size: @file.Size KB <br />
					Version @file.Version
				</div>
			}
		</div> *@

		<table class="table table-striped">
			<thead>
				<tr>
					<th>File Name</th>
					<th>Size</th>
					<th>Version</th>
					<th>Last Modified</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var entry in Model.StoredVersions)
				{
					<tr class="@(entry.IsPresent ? "" : "deleted-row")">
						<td>
							@entry.FullName
							@if (entry.IsNewEntry == true)
							{
								<span class="badge bg-success ms-2">New!</span>
							}
							@if (entry.IsPresent == false)
							{
								<span class="badge bg-danger ms-2">Deleted</span>
							}
						</td>
						@if (entry is FileVersionInfo file)
						{
							<td>@((file.Size / 1024m).ToString("0.##")) KB</td>
							<td>@file.Version</td>
						}
						else
						{
							<td colspan="2">&lt;DIR&gt;</td>
						}
						<td>@entry.LastModified.ToString("yyyy-MM-dd HH:mm")</td>
					</tr>
				}
			</tbody>
		</table>
	}




	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</body>
</html>
